<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Hora</th>
        <th scope="col">Producto</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Codigo</th>
        <th scope="col">Foto</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
    {{#each allProducts}}
      <tr class="align-middle">
        <th scope="row">{{this.id}}</th>
        <td>{{this.time}}</td>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.code}}</td>
        <td><img src="{{this.image}}" height="100px"></td>
        <td>{{this.price}}</td>
        <td>{{this.stock}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>