<h2 class="mx-5 my-2">Datos del perfil</h2>
<h1 class="text-center">Bienvenido {{name}}</h4>
<button class="btn" onclick="location.href='/api/carritos'">Tu carrito</button>
<hr/>
<hr/>
<div class="d-flex justify-content-evenly">
  <div>
    <h2>Informacion de la cuenta</h2>
    <hr/>
    <h3>Nombre: {{name}}</h3>
    <h3>Calle: {{adress}}</h3>
    <h3>Edad: {{age}}</h3>
    <h3>Telefono: {{phone}}</h3>
    <h3>Avatar: <img src="{{image}}" height="50"/> </h3>
    <h3>Mail: {{mail}}</h3>
  </div>
</div>
<a href="/logout">Cerrar sesion</a>